@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import "tailwindcss";



@theme {
  --color-primary: #ff0b55;
  --color-phover: #d60645;
  --font-logo: "Yellowtail", cursive, arial;

}

* {
  box-sizing: border-box;
}
:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

div#root {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh;
  width: 100vw;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
